#section_body {
    display: flex;
    width: 100%;
    height: 37vmax;
    align-items: center;
    justify-content: center;
}

#cart_titulo {
    display: flex;
    margin: 5px 0px 0px 10px;
}

.carrito {
    margin-top: 300px;
    background-color: #2C93F2;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    width: 180vh;
}

.carrito-dropdown{
    background-color: #2C93F2;
    max-height: 400px; /* Ajusta la altura máxima según tus necesidades */
    overflow-y: auto;
    scroll-behavior: smooth;
}

.objetos_carrito {
    display: flex;
    text-align: center;
    align-items: center;
    margin: 5px;
    padding: 4px;
    background-color: #2C93F2;
    border-radius: 8px;
    box-shadow: black 2px 2px 7px;
    border: 1px solid #464646;
}


._producto {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 0px 5px 0px 5px;
    width: 35px;
    height: 30px;
    background: linear-gradient(to right, #43b1e0, #79b2e7);
    border-radius: 10px;
}

#eliminar {
    display: flex;
    justify-content: center;
    margin: 0px 10px 0px 10px;
    width: 30px;
    height: 30px;
    background: linear-gradient(to right, #43b1e0, #79b2e7);
    border-radius: 1000px;
}

#clasificacion {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 5px 0px 0px 10px;
}

.clas {
    display: flex;
    width: 29.3vh;
    justify-content: center;
}

#nombre_prod, #price, #imgs_menu, #ct, #Subtotal {
    width: 29.3vh;
    justify-content: center;
}

#ct{
    display: flex;
    justify-content: center;
    width: 100%;
    width: 29.3vh;
}

#price_total {
    width: 80px;
    padding: 5px;
    background-color: #A6E3E9;
    border-radius: 3px;
}

.botonCant, #botonElim {
    background-color: #2C93F2;
    border: none;
}

.imgs_carrito {
    width: 120px;
}

#cont_carrito {
    display: flex;
    justify-content: center;
}

#enviar {
    margin-left: 800px;
    width: 120px;
    height: 30px;
    background: linear-gradient(to right, #43b1e0, #79b2e7);
    border-radius: 10px;
}

#enviar:hover {
    transition: 200ms;
    transform: scale(1.05);
}
.compras-realizadas {
    margin-top: 10px;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    max-height: 400px; /* Ajusta la altura máxima según tus necesidades */
    overflow-y: auto;
    scroll-behavior: smooth;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  
  .compra-item {
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  .compra-item:last-child {
    border-bottom: none;
  }

  .divCompras{
    margin-top: 300px;
  }
  