#Tienda_title {
    display: flex;
    align-items: center;
  }
  
  
  .div_img_menu:hover {
    transform: translateY(2px);
  }
  
  .links_img {
    box-shadow: none;
  }
  
  
  #Tienda {
    width: 40px;
    margin-right: 4px;
  }
  
  
  #Logo:hover, #Tienda:hover, .Agregar:hover, ._producto:hover, #eliminar:hover {
    transition: 200ms;
    transform: scale(1.05);
  }
  
  #section_menu {
    display: flex;
    width: 100%;
    left: 0;
  }
  
  #barra_categorias {
    display: flex;
    background-color: #71C9CE;
    width: 270px;
    height: 100vh;
    display: inline-block;
  }
  
  #titulo_menu {
    margin-left: 3px;
    color: black;
    height: 50px;
    align-items: center;
    text-align: center;
  }
  
  .div_img_menu {
    display: flex;
    display: inline-block;
    text-align: center;
    margin: 5px;
    padding: 4px;
    background-color: #71C9CE;
    border-radius: 8px;
    box-shadow: black 2px 2px 7px;
    border: 1px solid #464646;
  }
  
  .Agregar {
    margin: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 120px;
    height: 33px;
    background: linear-gradient(to right, #43b1e0, #77bfc5);
    border-radius: 10px;
  }
  
  .agregar_producto {
    margin: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 120px;
    height: 33px;
    background: linear-gradient(to right, #43b1e0, #77bfc5);
    border-radius: 10px;
    border: 0px;
  }
  
  .descripcion_prod {
    font-size: 12px;
    width: 210px;
    height: 50px;
  }
  
  #Imagen_menu {
    display: flex;
    width: 140px;
    height: 140px;
    margin: auto;
    margin-top: 2px;
  }
  
  .imgs_menu {
    width: 180px;
  }
  
  .links_menu {
    text-decoration: none;
    color: black;
    text-align: center;
    margin: 4px;
  }
  
  #Content {
    margin: 10px 0px 0px 10px;
    font-size: 24px;
    width: 100%;
  }
  
  #categorias_main {
    display: flex;
    margin-top: 80px;
  }
  